<%- include('../partials/header.ejs', {title: title}) %>

<div class="content">
<% snippets.forEach(snippet => { %>
    <div class="card">
        <h2><i class="<%= snippet.Language.logo %> colored" ></i> <%= snippet.title %></h2>
        <pre><code class="<%= snippet.Language.htmlClass %>"><%= snippet.code %></code></pre>
        <p class="comment"><%= snippet.description %></p>
        <p class="date">Posté par <%= snippet.User.name %> le <%= snippet.creationDate.toLocaleString() %></p>
        <% if (user !== undefined && user.name === snippet.User.name) {%>
        <a class="button edit" href="/edit/<%= snippet.id%>">Edit</a>
        <a class="button delete" href="/delete/<%= snippet.id%>">Delete</a>
        <% } %>
    </div>
<% }) %>

    <a href="/new" class="float">+</a>
</div>

<script src="js/prism.js"></script>
<%- include('../partials/footer.ejs') %>
